:root {
    --fuenteHeadinng: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    /*max-width: 120rem;
    width: 90%;    estas dos líneas de código es lo mismo que la de abajo*/
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeadinng);
    line-height: 1.2;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.0rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/**HEADER**/
.header {
    background-image: url(../img/banner.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*lo centra tanto en horizontal como en vertical cuando disminuimos el tamaño de a pantalla*/
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 7rem;
    }

}

.barra {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        /*alinear horizontalmente*/
        align-items: center;
        /*alinear verticalmente*/
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
    margin-top: 1rem;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2.5rem;
    }
}

.emtrada-blog {
    border-bottom: 0.1rem solid var(--gris);
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeadinng);
    text-align: center;
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    border: none;
}

@media (min-width: 780px) {
    .boton {
        display: inline-block;
    }
}
.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.curso {
    list-style-type: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    /*Para quitar la linea gris del último tipo*/
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeadinng);
    font-weight: 700;
}

.widget-curso__info {
    font-weight: 400;
}

/*FOOTER*/
.footer {
    background-color: var(--negro);
    padding-bottom: 2rem;
    margin-top: 2rem;
}

/** SOBRE NOSOTROS **/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/** CURSOS **/

.cursos {
    padding: 3rem 0;
    border-bottom: 1.3px solid var(--gris);
}

.cursos:last-of-type {
    border: none;
}

@media (min-width: 468px) {
    .cursos {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.cursos__label {
    font-family: var(--fuenteHeadinng);
    font-weight: 700;
}

.cursos__info {
    font-weight: 400;
}

/**Contacto**/

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 2.5rem;
}
.campo {
    display: flex;    
}
.campo__label {
    flex: 0 0 9rem; /*crecimiento, más pequeño, valor inicial del campo label*/    
    padding-right: 2rem; /*para qudeden separados los labelde los input o poner un gap en campo*/
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
height: 8rem;
}

.error {
    background: rgb(185, 0, 0); /* rojo intenso */
    padding: 1rem;
    color: var(--blanco);
    text-align: center;
}

.exito {
    background: rgb(0, 185, 0); /* verde intenso */
    padding: 1rem;
    color: var(--blanco); 
    text-align: center;
}